@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Outfit";
    /* regular, semibold, bold */
    font-weight: 400 600 700;
    src: url("./fonts/outfit/Outfit-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: "Young Serif";
    /* font-weight: 400; */
    src: url("./fonts/young-serif/YoungSerif-Regular.ttf") format("truetype");
}

@layer base {
    h3 {
        @apply font-primary2;
        @apply text-3xl;
        @apply text-nutmeg;
    }

    p {
        @apply font-primary1;
        @apply text-wenge-brown;
        @apply font-normal;
    }

    ul {
        @apply flex;
        @apply flex-col;
        @apply justify-center;
        @apply gap-2;
        @apply list-disc;
        @apply list-outside;
        @apply px-6;
        @apply text-base;
    }
    
    li {
        @apply font-primary1;
        @apply ps-4;
        @apply text-base;
        @apply text-wenge-brown;
    }

    hr {
        @apply text-light-grey;
    }

    span {
        @apply font-bold;
        @apply text-dark-charcoal;
    }

    tr {
        @apply grid;
        @apply grid-cols-2;
        @apply justify-evenly;
        @apply py-3;
        @apply hover:bg-eggshell;
    }
    
    td {
        @apply odd:ps-8;
        @apply odd:text-wenge-brown;
        @apply odd:font-normal;
        @apply even:text-nutmeg;
        @apply even:font-bold;
    }
    
    section {
        @apply flex;
        @apply flex-col;
        /* @apply gap-4; */
    }
}